{% extends 'base.html.twig' %}

{% block title %}Page Accueil !
{% endblock %}

{% block body %}


	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<h1 class="mt-4">Page d'accueil</h1>

				<div class="card mb-4">
					<div class="card-body">
						<p class="mb-0">
							Bienvenu sur la page d'accueil de notre site pour gerer des articles !
						</p>
					</div>
				</div>
				<div style="height: 100vh"></div>
				<div class="card mb-4">
					<div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div>
				</div>
			</div>
		</main>

	</div>
</div>{% endblock %}
